<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "beauty.aesthetictoday.onlinedeals"
    version   ="1.4"
    >
  <name>Dan Today</name>
  <description>
        Aesthetic Today | Offers Discount Spa Deals and Beauty Salon Packages in Dubai
    </description>
  <author email="aesthetictoday@gmail.com" href="http://aesthetictoday.com">
        AT Team
  </author>
  <access origin="*"/>
</widget>