<div id="carousel-example" class="carousel">
  <div class="carousel-inner">
  	<div href="" class="item active item1" carousel-example-item ng-click="goToDealsPage()">
      
    </div>
    <div href="" class="item item2" carousel-example-item ng-click="goToDealsPage()">
      
    </div>
    <div href="" class="item item3" carousel-example-item ng-click="goToDealsPage()">
      
    </div>
    <!--<div href="" class="item item4" carousel-example-item>
      
    </div>-->
    <div class="clsOptions">
    	<a class="clsPrev" ng-click="carouselPrev('carousel-example')"><i class="fa fa-angle-left fa-3x"></i></a>
        <a class="clsNext" ng-click="carouselNext('carousel-example')"><i class="fa fa-angle-right fa-3x"></i></a>
    </div>
  </div>
</div>
