<div class="fixed-top" id="homefixeddiv">
	<div class="app-bar bg-white">
		    <div ng-if="main.$location.path()=='/'" class="app-bar-element bg-white">
		        <span id="toggle-tiles-dropdown" class="mif-apps mif-2x"></span>
		    </div>
		    <div ng-if="main.$location.path()!='/'" class="app-bar-element bg-darkCobalt">
		        <span id="toggle-tiles-dropdown" class="mif-apps mif-2x"></span>
		        <div class="app-bar-drop-container"
		                data-role="dropdown"
		                data-toggle-element="#toggle-tiles-dropdown"
		                data-no-close="false">
		            <div class="tile-container bg-white">
		                <div class="tile-small bg-darkCobalt">
		                	<a href="home" class="tile-content iconic fg-white">
		                        <span class="icon mif-home"></span>
		                    </a>
		                </div>
		                <div class="tile-small bg-darkCobalt">
		                	<a class="tile-content iconic fg-white">
		                        <span class="icon mif-list"></span>
		                    </a>
		                </div>
		                <div class="tile-small bg-darkCobalt">
		                    <a href="warranty" class="tile-content iconic fg-white">
		                        <span class="icon mif-checkmark"></span>
		                    </a>
		                </div>
		                <div class="tile-small bg-darkCobalt">
		                	<a class="tile-content iconic fg-white">
		                        <span class="icon mif-info"></span>
		                    </a>
		                </div>
		                <div class="tile-small bg-darkCobalt">
		                	<a class="tile-content iconic fg-white">
		                        <span class="icon mif-phone"></span>
		                    </a>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="row align-center">
				<div class="cell">
					<div class="image-container polaroid">
						<a href="home"><img src="assets/img/logo.png"></a>
					</div>
				</div>
			</div>
	</div>
</div>